* { margin: 0; padding: 0; box-sizing: border-box; }

ul li { list-style-type: none; }

a { text-decoration: none; }

.clearfix::after { content: ""; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden; }

#top .container-zdy { height: 194px; }

#top .container-zdy .top1 { height: 37px; background-color: #F2F2F2; width: 100%; color: #6C6C6C; line-height: 37px; }

#top .container-zdy .top1 .list-l { float: left; padding-left: 45px; font-size: 14px; color: #6c6c6c; }

#top .container-zdy .top1 .list-l li { float: left; }

#top .container-zdy .top1 .list-l li a { color: #6c6c6c; display: block; margin-left: 8px; }

#top .container-zdy .top1 .list-l li a:hover { color: #FC4C65; }

#top .container-zdy .top1 .list-r { float: right; font-size: 14px; color: #6c6c6c; margin-right: 36px; }

#top .container-zdy .top1 .list-r li { float: left; position: relative; }

#top .container-zdy .top1 .list-r li a { color: #6c6c6c; display: block; width: 64px; }

#top .container-zdy .top1 .list-r li .list-r-x { display: none; position: absolute; border: 2px solid #FC4C65; width: 60px; z-index: 9999; background-color: #fff; }

#top .container-zdy .top1 .list-r li .list-r-x a { width: 60px; font-size: 10px; height: 30px; text-align: center; }

#top .container-zdy .top1 .list-r li .list-r-x a:hover { color: #FC4C65; }

#top .container-zdy .top1 .list-r li .list-r-x .ding { border-bottom: 1px dashed #ccc; }

#top .container-zdy .top1 .list-r li span { padding: 0 5px; }

#top .container-zdy .top1 .list-r .me:hover { background-color: #FC4C65; }

#top .container-zdy .top1 .list-r .me:hover > a { color: #fff; }

#top .container-zdy .top1 .list-r .me:hover .list-r-x { display: block; }

#top .container-zdy .top1 .list-r .ke:hover { background-color: #FC4C65; }

#top .container-zdy .top1 .list-r .ke:hover > a { color: #fff; }

#top .container-zdy .top2 { height: 119px; position: relative; }

#top .container-zdy .top2 h1 { margin-left: 45px; display: inline-block; }

#top .container-zdy .top2 h2 { margin-left: 70px; display: inline-block; }

#top .container-zdy .top3 { height: 36px; border-bottom: 2px solid #FC4C65; }

#car .container { padding-left: 140px; box-sizing: border-box; }

#car .container .car_s { width: 1105px; height: 60px; position: relative; }

#car .container .car_s .di { font-size: 14px; }

#car .container .car_s .inp { width: 145px; height: 23px; margin-top: 4px; }

#car .container .car_s .biao { display: block; position: absolute; top: 0; left: 440px; }

#car .container .car_z { width: 985px; }

#car .container .car_z .car_z_01 { height: 30px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; box-sizing: border-box; background-color: #F5F5F5; font-size: 14px; line-height: 30px; }

#car .container .car_z .car_z_01 .tou01 { width: 50px; }

#car .container .car_z .car_z_01 .tou02 { width: 260px; }

#car .container .car_z .car_z_01 .tou03 { width: 65px; }

#car .container .car_z .car_z_01 .tou04 { width: 120px; }

#car .container .car_z .car_z_01 .tou05 { width: 30px; }

#car .container .car_z .car_z_01 .tou06 { width: 150px; }

#car .container .car_z .car_z_01 .tou07 { width: 30px; }

#car .container .car_z .car_z_01 .tou08 { width: 154px; }

#car .container .car_z .car_z_01 .tou09 { width: 60px; }

#car .container .car_z .car_z_02 table .car_m { width: 50px; display: block; padding-left: 30px; box-sizing: border-box; width: 985px; border-bottom: 1px solid #ccc; }

#car .container .car_z .car_z_02 table .car_m .tus { width: 270px; height: 80px; position: relative; }

#car .container .car_z .car_z_02 table .car_m .tus .img { width: 60px; border: 1px solid #ccc; position: absolute; top: 10px; left: 10px; }

#car .container .car_z .car_z_02 table .car_m .tus .img img { width: 100%; }

#car .container .car_z .car_z_02 table .car_m .tus .name { font-size: 12px; position: absolute; top: 10px; left: 80px; line-height: 60px; }

#car .container .car_z .car_z_02 table .car_m .tus .name:hover { color: pink; }

#car .container .car_z .car_z_02 table .car_m .num { width: 65px; line-height: 80px; font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .dan_price { width: 120px; padding-left: 30px; font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .cun { width: 100px; font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .shi { font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .liang { width: 150px; position: relative; }

#car .container .car_z .car_z_02 table .car_m .liang .jian { display: block; width: 15px; height: 15px; position: absolute; top: 30px; left: 50px; border: 1px solid #ccc; text-align: center; line-height: 15px; }

#car .container .car_z .car_z_02 table .car_m .liang input { width: 30px; height: 20px; text-align: center; position: absolute; top: 28px; left: 70px; }

#car .container .car_z .car_z_02 table .car_m .liang .jia { display: block; width: 15px; height: 15px; position: absolute; top: 30px; left: 105px; border: 1px solid #ccc; text-align: center; line-height: 15px; }

#car .container .car_z .car_z_02 table .car_m .duo_price { width: 100px; line-height: 80px; color: red; font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .cao { width: 70px; text-align: center; font-size: 12px; }

#car .container .car_z .car_z_02 table .car_m .cao .shou { padding-bottom: 10px; }

#car .container .car_z .car_z_03 { border-bottom: 1px solid #ccc; }

#car .container .car_z .car_z_03 .list li { border-bottom: 1px dashed #ccc; height: 40px; line-height: 40px; }

#car .container .car_z .car_z_03 .list li:last-child { border-bottom: 0; }

#car .container .car_z .car_z_03 .list .yi { font-size: 12px; }

#car .container .car_z .car_z_03 .list .yi input { width: 90px; margin-right: 10px; }

#car .container .car_z .car_z_03 .list .yi .pi { display: inline-block; width: 120px; text-align: center; }

#car .container .car_z .car_z_03 .list .yi .jinE { display: inline-block; padding-left: 520px; }

#car .container .car_z .car_z_03 .list .er { width: 985px; padding-left: 850px; box-sizing: border-box; font-size: 12px; }

#car .container .car_z .car_z_03 .list .san { width: 985px; padding-left: 765px; box-sizing: border-box; font-size: 12px; }

#car .container .car_z .car_z_03 .list .si { position: relative; height: 50px; }

#car .container .car_z .car_z_03 .list .si .si_01 { position: absolute; bottom: 0px; right: 200px; }

#car .container .car_z .car_z_03 .list .si .btn_01 { width: 115px; height: 30px; background-color: #FC4C65; border: 0; position: absolute; bottom: 12px; right: 50px; }

#car .container .car_x p { height: 100px; font-size: 12px; padding-top: 15px; box-sizing: border-box; }

#car .container .car_x p a { color: #F9AA56; }

#floor .container-zdy { height: 467px; }

#floor .container-zdy .floor1 { height: 120px; background-color: #F2F2F2; padding-left: 70px; position: relative; }

#floor .container-zdy .floor1 .one { width: 350px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: 0px; }

#floor .container-zdy .floor1 .one img { position: absolute; top: 22px; left: 70px; }

#floor .container-zdy .floor1 .one div { position: absolute; top: 35px; left: 160px; }

#floor .container-zdy .floor1 .one div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .one div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor1 .two { width: 400px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: 0px; }

#floor .container-zdy .floor1 .two img { position: absolute; top: 22px; left: 450px; }

#floor .container-zdy .floor1 .two div { position: absolute; top: 35px; left: 550px; width: 400px; }

#floor .container-zdy .floor1 .two div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .two div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor1 .san { width: 340px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: -30px; }

#floor .container-zdy .floor1 .san img { position: absolute; top: 22px; left: 900px; }

#floor .container-zdy .floor1 .san div { position: absolute; top: 35px; left: 990px; width: 300px; }

#floor .container-zdy .floor1 .san div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .san div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor2_l { float: left; margin-right: 50px; }

#floor .container-zdy .floor2_r { float: left; padding-top: 28px; }

#floor .container-zdy .floor2_r ul { float: left; width: 120px; }

#floor .container-zdy .floor2_r ul li { line-height: 24px; }

#floor .container-zdy .floor2_r ul li strong { font-size: 16px; }

#floor .container-zdy .floor2_r ul li a { color: #6c6c6c; font-size: 12px; }

#floor .container-zdy .floor2_r ul li:hover a { color: #FC4C65; }

#floor .container-zdy .floor3 img { display: block; width: 100%; }
