* { margin: 0; padding: 0; }

ul li { list-style-type: none; }

a { text-decoration: none; }

.clearfix::after { content: ""; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden; }

.che { width: 26px; height: 100%; position: fixed; top: 0; right: 0; background-color: #888888; padding-top: 80px; padding-left: 10px; z-index: 99999; }

.che li { width: 16px; margin-top: 50px; font-size: 12px; color: #fff; }

.che li a { display: block; border-bottom: 2px solid #fff; padding-bottom: 20px; color: #fff; font-size: 12px; }

.che li a span { display: block; border-radius: 50%; background-color: #FC4C65; text-align: center; margin-top: 5px; }

.che .san { position: relative; }

.che .san div { position: absolute; top: -30px; left: -140px; border: 1px solid #ccc; display: none; }

.che .san div:hover { display: block; }

.che .san:hover div { display: block; }

#top .container-zdy { height: 194px; }

#top .container-zdy .top1 { height: 37px; background-color: #F2F2F2; width: 100%; color: #6C6C6C; line-height: 37px; }

#top .container-zdy .top1 label { padding-left: 45px; font-size: 14px; float: left; }

#top .container-zdy .top1 input { height: 20px; width: 148px; color: #6c6c6c; float: left; margin-top: 7px; }

#top .container-zdy .top1 .list-l { float: left; margin-left: 14px; font-size: 14px; color: #6c6c6c; }

#top .container-zdy .top1 .list-l li { float: left; }

#top .container-zdy .top1 .list-l li a { color: #6c6c6c; display: block; margin-left: 8px; }

#top .container-zdy .top1 .list-l li a:hover { color: #FC4C65; }

#top .container-zdy .top1 .list-r { float: right; font-size: 14px; color: #6c6c6c; margin-right: 36px; }

#top .container-zdy .top1 .list-r li { float: left; position: relative; }

#top .container-zdy .top1 .list-r li a { color: #6c6c6c; display: block; width: 64px; }

#top .container-zdy .top1 .list-r li .list-r-x { display: none; position: absolute; border: 2px solid #FC4C65; width: 60px; z-index: 9999; background-color: #fff; }

#top .container-zdy .top1 .list-r li .list-r-x a { width: 60px; font-size: 10px; height: 30px; text-align: center; }

#top .container-zdy .top1 .list-r li .list-r-x a:hover { color: #FC4C65; }

#top .container-zdy .top1 .list-r li .list-r-x .ding { border-bottom: 1px dashed #ccc; }

#top .container-zdy .top1 .list-r li span { padding: 0 5px; }

#top .container-zdy .top1 .list-r .me:hover { background-color: #FC4C65; }

#top .container-zdy .top1 .list-r .me:hover > a { color: #fff; }

#top .container-zdy .top1 .list-r .me:hover .list-r-x { display: block; }

#top .container-zdy .top1 .list-r .ke:hover { background-color: #FC4C65; }

#top .container-zdy .top1 .list-r .ke:hover > a { color: #fff; }

#top .container-zdy .top2 { height: 119px; position: relative; }

#top .container-zdy .top2 h1 { position: absolute; top: -20px; left: 45px; }

#top .container-zdy .top2 h2 { position: absolute; top: -20px; left: 280px; }

#top .container-zdy .top2 .inp { position: absolute; top: 40px; right: 171px; }

#top .container-zdy .top2 .inp .shu { border: 2px solid #FC4C65; width: 476px; height: 36px; color: #6c6c6c; }

#top .container-zdy .top2 .inp .shou { background-color: #FC4C65; width: 100px; height: 40px; border: 0; border-radius: 0 5px 5px 0; color: #fff; }

#top .container-zdy .top2 .gou { position: absolute; top: 40px; right: 26px; }

#top .container-zdy .top2 .cl { position: absolute; top: 85px; left: 513px; }

#top .container-zdy .top2 .cl ul { overflow: hidden; }

#top .container-zdy .top2 .cl ul li { float: left; padding-right: 10px; }

#top .container-zdy .top2 .cl ul li a { color: #6c6c6c; font-size: 12px; }

#top .container-zdy .top3 { height: 36px; border-bottom: 2px solid #FC4C65; }

#top .container-zdy .top3 .q { margin-left: 45px; width: 204px; height: 36px; float: left; text-align: center; line-height: 36px; background-color: #FC4C65; position: relative; }

#top .container-zdy .top3 .q a { color: #fff; font-size: 16px; font-weight: bold; }

#top .container-zdy .top3 .q ul { background-color: #FC4C65; width: 204px; height: 400px; display: none; padding-top: 20px; box-sizing: border-box; z-index: 99999; position: absolute; }

#top .container-zdy .top3 .q ul li { height: 50px; line-height: 50px; position: relative; }

#top .container-zdy .top3 .q ul li img { position: absolute; top: 14px; left: 30px; }

#top .container-zdy .top3 .q ul li:hover { background-color: #E11923; }

#top .container-zdy .top3 .q:hover ul { display: block; }

#top .container-zdy .top3 .s { float: left; }

#top .container-zdy .top3 .s ul { overflow: hidden; margin-left: 40px; line-height: 36px; }

#top .container-zdy .top3 .s ul li { float: left; padding-right: 70px; position: relative; }

#top .container-zdy .top3 .s ul li img { position: absolute; top: 11px; left: -31px; }

#top .container-zdy .top3 .s ul li a { font-size: 12px; color: #6c6c6c; }

#top .container-zdy .top3 .s ul li a:hover { color: #FC4C65; }

#lie .container-zdy { height: 1600px; }

#lie .container-zdy .ding { width: 100%; float: left; }

#lie .container-zdy .ding p { height: 42px; line-height: 42PX; margin-left: 45px; }

#lie .container-zdy .lie_l { width: 252px; height: 1181px; padding-left: 12px; float: left; box-sizing: border-box; }

#lie .container-zdy .lie_r { width: 950px; height: 1600px; float: left; }

.pagination { position: absolute; top: 1650px; left: 650px; }

#floor .container-zdy { height: 467px; }

#floor .container-zdy .floor1 { height: 120px; background-color: #F2F2F2; padding-left: 70px; position: relative; }

#floor .container-zdy .floor1 .one { width: 350px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: 0px; }

#floor .container-zdy .floor1 .one img { position: absolute; top: 22px; left: 70px; }

#floor .container-zdy .floor1 .one div { position: absolute; top: 35px; left: 160px; }

#floor .container-zdy .floor1 .one div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .one div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor1 .two { width: 400px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: 0px; }

#floor .container-zdy .floor1 .two img { position: absolute; top: 22px; left: 450px; }

#floor .container-zdy .floor1 .two div { position: absolute; top: 35px; left: 550px; width: 400px; }

#floor .container-zdy .floor1 .two div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .two div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor1 .san { width: 340px; padding-left: 80px; padding-top: 25px; height: 90px; position: absolute; top: 0px; left: -30px; }

#floor .container-zdy .floor1 .san img { position: absolute; top: 22px; left: 900px; }

#floor .container-zdy .floor1 .san div { position: absolute; top: 35px; left: 990px; width: 300px; }

#floor .container-zdy .floor1 .san div p { font-size: 12px; color: #6c6c6c; padding-top: 0px; }

#floor .container-zdy .floor1 .san div p strong { font-size: 16px; color: #000; }

#floor .container-zdy .floor2_l { float: left; margin-right: 50px; }

#floor .container-zdy .floor2_r { float: left; padding-top: 28px; }

#floor .container-zdy .floor2_r ul { float: left; width: 120px; }

#floor .container-zdy .floor2_r ul li { line-height: 24px; }

#floor .container-zdy .floor2_r ul li strong { font-size: 16px; }

#floor .container-zdy .floor2_r ul li a { color: #6c6c6c; font-size: 12px; }

#floor .container-zdy .floor2_r ul li:hover a { color: #FC4C65; }

#floor .container-zdy .floor3 img { display: block; width: 100%; }
